<!DOCTYPE html>
<html lang="zh" class="h-full">
<head>
    <meta charset="UTF-8">
    <title>Gpt-Turbo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="py-4"></div>

<div class="container mx-auto px-4">
    <div class="flex flex-col items-center justify-center h-full">
        <h1 class="text-4xl font-bold text-gray-900">GPT-Turbo</h1>
        <p class="text-gray-700">基于 Gpt-3.5-Turbo 的问答系统</p>
        <ul class="list-disc list-inside">
            <li class="text-gray-700">自然语言生成：可以生成高质量的自然语言文本，如文章、新闻、评论等</li>
            <li class="text-gray-700">语言翻译：可以进行多语言翻译，将一种语言的文本翻译成另一种语言</li>
            <li class="text-gray-700">问答系统：可以回答用户提出的问题，如常见问题、技术问题等</li>
            <li class="text-gray-700">语音识别：可以将语音转换成文本，方便进行文字处理和分析</li>
            <li class="text-gray-700">自动摘要：可以将一篇文章自动摘要，提取出文章的主要内容</li>
            <li class="text-gray-700">情感分析：可以分析文本中的情感倾向，判断文本的情感是积极、消极还是中性</li>
            <li class="text-gray-700">数据处理：可以处理结构化和非结构化数据，如表格、图表、文本等</li>
        </ul>
    </div>
</div>
<div class="container mx-auto px-4">
    <form action="{{ url_for('submit_form') }}" method="POST" class="my-8">
        <label for="user_content" class="block text-gray-700 font-bold mb-2">问题：</label>
        <input type="text" id="user_content" name="user_content" autocomplete="off"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <input type="submit" value="提交"
               class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
    </form>
</div>
</body>
</html>